In [3]:
name = "Muhammae Amir"
f_name = "Muhammad Hanif Khan"
DOB = "11-01-1975"

print("Name:\t\t" + name)
print("Father Name:\t" + f_name)
print("Date of Birth:\t" + DOB)

Name:		Muhammae Amir
Father Name:	Muhammad Hanif Khan
Date of Birth:	11-01-1975

In [4]:
occupation = "Accountant"
hobbies = "Studying, learning and watching movies"

print("Name:\t\t" + name)
print("Father Name:\t" + f_name)
print("Date of Birth:\t" + DOB)
print("Occupation:\t" + occupation)
print("Hobbies:\t" + hobbies)

Name:		Muhammae Amir
Father Name:	Muhammad Hanif Khan
Date of Birth:	11-01-1975
Occupation:	Accountant
Hobbies:	Studying, learning and watching movies

In [21]:
# Operator

a = 5
b = 3

print(f"Addition\t : {a} + {b} = {a + b}")
print(f"Substruction\t : {a} - {b} = {a - b}")
print(f"Multipulcation\t : {a} x {b} = {a * b}")
print(f"Divided\t\t : {a} / {b} = {a / b}")
print(f"Floor divided\t : {a} // {b} = {a // b}")

Addition	 : 5 + 3 = 8
Substruction	 : 5 - 3 = 2
Multipulcation	 : 5 x 3 = 15
Divided		 : 5 / 3 = 1.6666666666666667
Floor divided	 : 5 // 3 = 1

In [1]:
# Function to calculate bonus
def calculate_bonus(salary, years_of_service):
    if years_of_service > 5:
        bonus = salary * 0.05
        return bonus
    else:
        return 0

# Get user input
salary = float(input("Enter your salary: "))
years_of_service = int(input("Enter your years of service: "))

# Calculate bonus
bonus = calculate_bonus(salary, years_of_service)

# Print the net bonus amount
print(f"Your net bonus amount is: {bonus}")

Enter your salary:  125000
Enter your years of service:  20

Your net bonus amount is: 6250.0

In [1]:
# 1. A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

# Function to calculate the bonus
def calculate_bonus(salary, years_of_service):
    if years_of_service > 5:
        bonus = 0.05 * salary
    else:
        bonus = 0
    return bonus

# Ask user for their salary and years of service
salary = float(input("Enter your salary: "))
years_of_service = int(input("Enter your years of service: "))

# Calculate the bonus
bonus = calculate_bonus(salary, years_of_service)

# Print the net bonus amount
print(f"Your net bonus amount is: {bonus}")

Enter your salary:  150000
Enter your years of service:  21

Your net bonus amount is: 7500.0

In [17]:
# variable
name = "Aamir"
age = 48
weight = 45.8
education = True
thank = " Thanks for your input"
print(name, age, thank)
print(age + 2)

Aamir 48  Thanks for your input
50

In [18]:
print(type(name))
print(type(age))
print(type(weight))
print(type(education))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [40]:
# Operator
2 + 2
4 - 2
2 * 2
2 / 2
2 ** 2
2 % 2

0

In [42]:
9 % 4

1

In [66]:
t=int(input("Enter table: "))
print(t," x 1 =", t)
print(t," x 2 =", t*2)
print(t," x 3 =", t*3)
print(t," x 4 =", t*4)
print(t," x 5 =", t*5)
print(t," x 6 =", t*6)
print(t," x 7 =", t*7)
print(t," x 8 =", t*8)
print(t," x 9 =", t*9)
print(t," x 10 =", t*10)

Enter table:  77

77  x 1 = 77
77  x 2 = 154
77  x 3 = 231
77  x 4 = 308
77  x 5 = 385
77  x 6 = 462
77  x 7 = 539
77  x 8 = 616
77  x 9 = 693
77  x 10 = 770

In [83]:
name=str(input("Enter your Name: "))
print(name, "said, \"I am a liar\"")

Enter your Name:  Jawaid

Jawaid said, "I am a liar"

In [85]:
#Paragh
para = '''I am Aamir Hanif,
I am a good person
love to Pakistan'''
print(para)

I am Aamir Hanif,
I am a good person
love to Pakistan